In [20]:
import numpy as np
import pandas as pd

In [82]:
populationData = pd.read_csv('/Users/danny/Downloads/UNdata_Export_20230714_081108077.csv', dtype=object)
childrenData = pd.read_csv('/Users/danny/Downloads/UNdata_Export_20230714_054021753.csv')

In [123]:
#will be using number of Females by Census (and tabulation) to avoid faulty estimates
numWomen = populationData[(populationData.get('Area') == 'Total') & (populationData.get('Record Type').str.contains('Census')) & (populationData.get('Sex') == 'Female')]
numWomen = numWomen[['Country or Area', 'Year', 'Value']]
numWomen = numWomen.rename(columns = {'Value': 'Number of Women'})
print('number of rows: ' + str(numWomen.shape[0]))
numWomen

number of rows: 1632

      Country or Area  Year Number of Women
391       Afghanistan  1979         6338981
598     Åland Islands  2000           13076
903           Albania  2011         1397079
1002          Albania  2001         1538832
1061          Albania  1989         1543500
...               ...   ...             ...
70326        Zimbabwe  2002         5997477
70390        Zimbabwe  1992         5329011
70428        Zimbabwe  1982         3827850
70473        Zimbabwe  1969            7651
70474        Zimbabwe  1969          113505

[1632 rows x 3 columns]

In [124]:
#Will use Total because some data points may not have aggregate number of children living 
numChild = childrenData[(childrenData.get('Area') == 'Total') & (childrenData.get('Age') == '15 +') & (childrenData.get('Number of children living') == 'Total')]
numChild = numChild[['Country or Area', 'Year', 'Value']] 
numChild = numChild.rename(columns = {'Value': 'Number of Children Alive'})
print('number of rows: ' + str(Albania.shape[0]))
numChild

number of rows: 46

                          Country or Area  Year  Number of Children Alive
9                                 Albania  2011                  799159.0
440                               Albania  2001                  793584.0
1736                              Armenia  2011                  936491.0
1977                              Armenia  2001                 1294976.0
3454                              Bahrain  2001                  122172.0
3610                              Belarus  1999                 4371817.0
4956     Bolivia (Plurinational State of)  2012                 2943221.0
9803                             Cambodia  2008                 4678346.0
10020                            Cambodia  1998                 3530847.0
10270                               Chile  2002                 4187019.0
11168                               China  2000                33547666.0
13139                        Cook Islands  2011                    5372.0
13295                        Cook Islands  2006                    5256.0
13336                        Cook Islands  1996                    4086.0
15243                  Dominican Republic  2010                 2506504.0
18204                             Finland  2003                 2216442.0
19513                             Georgia  2002                 1864559.0
24372                          Kazakhstan  1999                 5652829.0
25810                            Kiribati  2010                   22566.0
26000                          Kyrgyzstan  2009                 1919931.0
26454    Lao People's Democratic Republic  2015                 1752810.0
28781                              Malawi  1998                 2887945.0
29328                            Maldives  2014                   82595.0
30126                            Maldives  2000                   78905.0
30582                                Mali  1998                 2605724.0
33327                              Mexico  2000                24366484.0
38656                               Qatar  2010                   46583.0
38666                               Qatar  2004                   34792.0
38694                   Republic of Korea  2015                15929044.0
39200                 Republic of Moldova  2004                 1439758.0
40612               Saint Helena ex. dep.  1998                    1956.0
41319                           Sri Lanka  2012                 6213035.0
41992                           Sri Lanka  2001                 4572496.0
43459                  State of Palestine  1997                  493287.0
44478                         Switzerland  2000                 1147128.0
45064                          Tajikistan  2010                 2438147.0
46244                            Thailand  2000                17748828.0
46791                         Timor-Leste  2004                  258818.0
46999                             Tokelau  2011                     260.0
47933                             Türkiye  2011                27904000.0
48760                             Türkiye  2000                18045825.0
49610                             Ukraine  2001                22049428.0
51997                             Uruguay  1996                 1240210.0
53453  Venezuela (Bolivarian Republic of)  2001                 5580358.0
53806                            Viet Nam  1999                20694595.0
54176                              Zambia  2000                 2324081.0

In [114]:
temp = Albania.merge(numWomen, left_on = ['Country or Area', 'Year'], right_on = ['Country or Area', 'Year'])
temp = temp.astype({'Number of Children Alive': 'int32', 'Number of Women': 'int32'})
temp['Number of Children Living Per Woman'] = [i / j for i, j in zip(temp['Number of Children Alive'], temp['Number of Women'])]
temp

,Country or Area,Year,Number of Children Alive,Number of Women,Number of Children Living Per Woman
0,Albania,2011,799159,1397079,0.572021
1,Albania,2001,793584,1538832,0.515705
2,Armenia,2011,936491,1525042,0.614076
3,Armenia,2011,936491,1570802,0.596187
4,Armenia,2001,1294976,1595374,0.811707
5,Armenia,2001,1294976,1671012,0.774965
6,Bahrain,2001,122172,276955,0.441126
7,Belarus,1999,4371817,5327616,0.820595
8,Bolivia (Plurinational State of),2012,2943221,5040409,0.583925
9,Cambodia,2008,4678346,6879628,0.680029
10,Cambodia,1998,3530847,5926248,0.595798
11,Chile,2002,4187019,7668740,0.545985
12,China,2000,33547666,602336257,0.055696
13,Cook Islands,2011,5372,8979,0.598285
14,Cook Islands,2011,5372,7484,0.717798
15,Cook Islands,2006,5256,9526,0.551753
16,Cook Islands,2006,5256,7502,0.700613
17,Cook Islands,1996,4086,9261,0.441205
18,Cook Islands,1996,4086,8737,0.467666
19,Dominican Republic,2010,2506504,4706243,0.532591
20,Georgia,2002,1864559,2305887,0.808608
21,Georgia,2002,1864559,2309782,0.807245
22,Kazakhstan,1999,5652829,7752152,0.729195
23,Kiribati,2010,22566,52262,0.431786
24,Kyrgyzstan,2009,1919931,2618402,0.733245
25,Kyrgyzstan,2009,1919931,2716872,0.706670
26,Lao People's Democratic Republic,2015,1752810,3237458,0.541416
27,Malawi,1998,2887945,5066305,0.570030
28,Maldives,2014,82595,174322,0.473807
29,Maldives,2000,78905,132901,0.593713
30,Mali,1998,2605724,5020709,0.518995
31,Mali,1998,2605724,4954889,0.525889
32,Mexico,2000,24366484,49891159,0.488393
33,Qatar,2010,46583,414696,0.112330
34,Qatar,2004,34792,247647,0.140490
35,Republic of Korea,2015,15929044,25460873,0.625628
36,Republic of Moldova,2004,1439758,1756984,0.819449
37,Republic of Moldova,2004,1439758,1637018,0.879500
38,Saint Helena ex. dep.,1998,1956,2545,0.768566
39,Saint Helena ex. dep.,1998,1956,2432,0.804276
40,Sri Lanka,2012,6213035,10502805,0.591560
41,Sri Lanka,2001,4572496,8504082,0.537682
42,State of Palestine,1997,493287,1279405,0.385560
43,Switzerland,2000,1147128,3720443,0.308331
44,Switzerland,2000,1147128,3720030,0.308365
45,Tajikistan,2010,2438147,3747498,0.650607
46,Thailand,2000,17748828,30901208,0.574373
47,Timor-Leste,2004,258818,453279,0.570990
48,Timor-Leste,2004,258818,472103,0.548224
49,Tokelau,2011,260,605,0.429752
50,Tokelau,2011,260,710,0.366197
51,Türkiye,2011,27904000,37095000,0.752231
52,Türkiye,2000,18045825,33457192,0.539371
53,Ukraine,2001,22049428,25924585,0.850522
54,Ukraine,2001,22049428,26015758,0.847541
55,Uruguay,1996,1240210,1631475,0.760177
56,Venezuela (Bolivarian Republic of),2001,5580358,11651341,0.478946
57,Viet Nam,1999,20694595,38854056,0.532624
58,Zambia,2000,2324081,4743135,0.489988
59,Zambia,2000,2324081,4939293,0.470529